<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css" />
    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel="icon" href="../assets/images/logo.png" />
    <title>Log in</title>
</head>
<body>
    
    <div class="container">
        <form action="/login" method="post">
            <input type="email" placeholder="User name" required><br>
            <input type="password" name="" id=""placeholder="password" required>
    
            <p>Don't have account? <a href="Register.html" class="signup">sign up now</a></p>
            <p><div class="vrLine"></div>Or<div class="vrLine"></div></p>

            <div class="social">
                <a href="#">
                    <div class="sub-social">
                        <i class="fa-brands fa-facebook"></i>
                        <p>Sign in with facebook</p>
                    </div>
                </a>
                <a href="#">
                    <div class="sub-social">
                        <i class="fa-brands fa-google-plus-g"></i>
                        <p>Sign in with Google+</p>
                    </div>
                </a>
            </div>
    
            <button><a href="index.html" class="btn">Sign in</a></button>
        </form>
    </div>
</body>
</html>